<html lang="en">
  <%-include('./modules/head')%>
  <body>
    <%-include('./modules/nav')%>
    <div class="container">
      <h1 class="my-4">Your Wallet Balance</h1>
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Eth Balance: <%= usrdtBalance %> Eth</h1>
          <h4 class="card-text">Equivalent in USD: <%= usrdtBalance %></h4>
          <h5 class="card-text">
            Wallet Address:
            <input
              type="text"
              value="<%=usrAddress%>"
              id="walletAddress"
              readonly
            />
            <button onclick="copyToClipboard()">Copy</button>
          </h5>
        </div>
      </div>
    </div>
    <script>
      function copyToClipboard() {
        /* Get the text field */
        var copyText = document.getElementById("walletAddress");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        document.execCommand("copy");
      }
    </script>
  </body>
  <%-include('./modules/footer')%>
</html>
